---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: center;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  body {
    background-color: #d8f1dc
  }
  
  a {
      color: #036b0e
    }
  
  a:hover {
    color: #250e8e
  }
